/*transparent box and large header image*/
.jumbotron {
  background: url('../images/portland_skyline.png') no-repeat center center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  align-items: center;
}

.transbox {
  background-color: #747390;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 400px;
}

.container {
  text-align: center;
  padding: 10px;
  margin-left: 50px;
  padding-left: 50px;
}

.header {
  font-family: "Proza Libre";
  font-weight: bold;
}

.content {
  font-family: "Montserrat";
}

.self-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about {
  text-align: center;
  margin-top: 50px;
}

.row {
  margin-top: 50px;
}

.course, #contact {
  text-align: center;
}

.course-title {
  color: white;
}

.example {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-image: url("../images/sanfran.jpg");
  background-size: cover;
  background-position: 50%;
  height: 300px;
  width: 350px;
}

.example2 {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 0px solid black !important;
}

.test {
  margin-top: 50px;
  margin-left: 20%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-left: 0px solid red;
  padding-right: 30px;
}

#header-name {
  color: #ffffff;
  font-size: 150px;
  font-family: "Darker Grotesque";
}

#top-row {
  margin-top: 10px;
}

#major {
  font-family: "Darker Grotesque";
}
