.jumbotron {
  background: url('portland_skyline.png') no-repeat center center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  align-items: center;
}

.container {
  text-align: center;
  padding: 10px;
  margin-left: 50px;
  padding-left: 50px;
}

/*test fonts*/
.header {
  font-family: "Proza Libre";
  font-weight: bold;
}

.content {
  font-family: "Montserrat";
}

.test-content2 {
  font-family: "Montserrat";
}

#name {
  color: #ffffff;
  font-size: 150px;
  font-family: "Darker Grotesque";
}

nav {
  background-color: #747390;
  font-family: "Darker Grotesque";
  font-size: 20px;
}

.nav-item {
  padding: 10px;
  letter-spacing: 2px;
}

.navbar-brand {
  font-size: 20px;
  letter-spacing: 3px;
}

.transbox {
  background-color: #747390;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 400px;
}

.self-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about {
  text-align: center;
  border-style: dotted;
  margin-top: 50px;
}

.row {
  margin-top: 50px;
}

.btn-course {
  width: 300px;
  height: 350px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  font-family: "Darker Grotesque";
  font-size: 150px;

}

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  border-radius: 100%;
  font-size: 24px;
  line-height: 1.33;
  margin-left: 20px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.course {
  text-align: center;
}

.course-title {
  color: white;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 350px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #8F9073;
  color: black;
  text-align: center;
}

/* Style the back side */
.flip-card-back {
  background-color: #8F9073;
  color: white;
  transform: rotateY(180deg);
  text-align: left;
}

.text {
  padding-top: 100px;
  color: #ffffff;
  font-family: "Darker Grotesque";
}

.flip-text {
  padding-top: 20px;
  padding-left: 20px;
  color: #ffffff;
  font-family: "Darker Grotesque";
}


/*linking*/
p > a:link {
  text-decoration: none;
  color: white;
}

p > a:visited {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

p > a:hover {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

p > a:active {
  text-decoration: none;
  color: white;
}
